header {
    background: #008489;
    height: 66px;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Candal' serif;
    color: #444;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both; 
}

.btn{
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover{
    color: white !important;
    background: #005255;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 30px;
    margin-left: 2em;
}

header .logo-text {
    margin: 5px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #07bec4;
}

header ul li a:hover {
    background:#006669;
    transition: 0.5s;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 15px;
}

* {
    box-sizing: border-box;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 15px;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 130px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul{
display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
padding: 10px;
color: #444;
background: white;

}

header ul li ul li a.logout{
color: rgb(179, 10, 10);
}
header ul li ul li a:hover{
background: #53b8b8;

}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header .menu-toggle {
    display: none;
}

.page-wrapper a:hover{
    color: #006669;
}

/* POST SLIDER */
.post-slider {
    position: relative;
    /* border: 1px solid red; */
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;

}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: auto;
    /* border: 1px dashed red; */
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper .post{
    width: 350px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}
.post-slider .post-wrapper .post .post-info{
    height: 130px;
    border: 1px solid green;
    padding: 0px 5px;
}
.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* CONTENT */

.content{
    width: 90%;
    margin: 30px auto 30px;
    /* border: 1px solid red; */
}

.content .main-content {
    width: 70%;
    float: left;
    /* border: 1px solid blue; */
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #006669;
    background: transparent;
    border-radius: 0px;
    color: #006669;
}
    .content .main-content .post .read-more:hover {
        background: #006669;
        color: white;
        transition: .25s;
    }
    

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview{
    width: 60%;
    padding: 10px;
    float: right;
}


.content .main-content .recent-post-title{
margin: 20px;
}

.content .sidebar {
    width: 30%;
    float: left;
    border: 1px dashed green;
    height: 300px;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 750px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background: #0E94A0;
        border: none;
        border-radius: 0px;
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li {
        width: 100%;
    }
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
        padding: 10px;
        color: #444;
        background: #0E94A0;
        color: white;
        padding-left: 50px;
    }
    header ul li ul li a.logout{
        color: rgb(179, 10, 10);
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2em;

    }
    header .logo {
        border: 1px solid rgb(143, 234, 239);
        border-radius: 30px;
        margin-left: .7em;
    }
    
    header .logo-text {
      font-size: 1.7em;

    }
    
    header .logo-text span {
        color: #07bec4;
    }

}