header {
    background: #008489;
    height: 66px;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 30px;
    margin-left: 2em;
}

header .logo-text {
    margin: 5px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #07bec4;
}

header ul li a:hover {
    background:#006669;
    transition: 0.5s;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 15px;
}

* {
    box-sizing: border-box;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 1px solid rgb(143, 234, 239);
    border-radius: 15px;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 130px;
    display: none;
}

header ul li:hover ul{
display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
padding: 10px;
color: #444;
background: white;

}

header ul li ul li a.logout{
color: rgb(179, 10, 10);
}
header ul li ul li a:hover{
background: #53b8b8;

}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header .menu-toggle {
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background: #0E94A0;
        border: none;
        border-radius: 0px;
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li {
        width: 100%;
    }
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
        padding: 10px;
        color: #444;
        background: #0E94A0;
        color: white;
        padding-left: 50px;
    }
    header ul li ul li a.logout{
        color: rgb(179, 10, 10);
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2em;

    }
    header .logo {
        border: 1px solid rgb(143, 234, 239);
        border-radius: 30px;
        margin-left: .7em;
    }
    
    header .logo-text {
      font-size: 1.7em;

    }
    
    header .logo-text span {
        color: #07bec4;
    }

}